@use "utils" as *;
@use "global" as *;

.home-page-1 {
  &.rootSection {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
  }
  .heroSection {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 1440px;
    height: 855px;
    background-color: rgb(255, 255, 255);
    @include lg {
      width: 1018px;
    }
    @include md {
      width: 768px;
    }
  }
  .heroGroup {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 20px 0px 0px 20px;
    width: 1400px;
    height: 815px;
    background: var(--src) center center / 100% 100% no-repeat;
    border-radius: 20px 20px 20px 20px;
    @include lg {
      width: 981px;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
    }
    @include md {
      width: 729px;
    }
  }
  .heroContentBox {
    position: absolute;
    top: 376px;
    left: 40px;
    display: flex;
    flex-direction: column;
    width: 1088px;
    height: 310px;
    @include lg {
      top: 379px;
      left: 13px;
      width: 1024px;
    }
    @include md {
      top: 482px;
      left: 10px;
      width: 768px;
      height: unset;
    }
    @include sm {
      top: 156px;
      width: 667px;
    }
    @include xs {
      top: 120px;
      left: 15px;
      width: 568px;
    }
    @include xxs {
      top: 75px;
      width: 414px;
    }
    @include tn {
      width: 375px;
    }
  }
  .heroTitleBox_box {
    position: relative;
    width: 1088px;
    height: 149px;
    @include lg {
      align-items: flex-start;
      width: 972px;
    }
    @include md {
      width: 757px;
      height: unset;
    }
  }
  .heroTitleBox {
    font: 700 62px/1.2 "Noto Sans", Helvetica, Arial, serif;
    color: rgb(0, 0, 0);
    @include lg {
      font-size: 48px;
    }
    @include md {
      font-size: 39px;
    }
    @include sm {
      font-size: 28px;
    }
    @include xxs {
      font-size: 21px;
    }
  }
  .heroTitleBox_span0 {
    font: 700 1em/1.2 "Noto Sans", Helvetica, Arial, serif;
    color: rgb(255, 255, 255);
  }
  .heroTitleBox_span1 {
    font: 900 1em/1.2 "Noto Sans", Helvetica, Arial, serif;
    color: rgb(0, 212, 126);
  }
  .heroHighlight {
    position: relative;
    margin: 31px 0px 0px;
    width: 538px;
    height: 48px;
    font: 500 16px/1.5 "Noto Sans", Helvetica, Arial, serif;
    color: rgb(255, 255, 255);
    @include lg {
      align-items: flex-start;
      margin: 20px 0px 0px;
      font-size: 16px;
    }
    @include md {
      font-size: 18px;
    }
    @include xs {
      margin: 8px 0px 0px;
    }
    @include xxs {
      width: 384px;
      padding: 0px 42px 0px 0px;
      font-size: 12px;
    }
    @include tn {
      width: 362px;
      padding: 0px 73px 0px 0px;
    }
  }
  .heroButtonsContainer {
    position: relative;
    display: flex;
    gap: 0px 8px;
    margin: 32px 0px 0px;
    width: 1088px;
    height: 50px;
    @include lg {
      width: 986px;
    }
    @include md {
      margin: 20px 0px 0px;
      width: 768px;
    }
    @include xs {
      margin: 8px 0px 0px;
    }
  }
  .heroPrimaryButton {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0px 8px;
    width: 148px;
    height: 50px;
    background-color: rgb(0, 212, 126);
    border-radius: 8px 8px 8px 8px;
    padding: 12px 12px 12px 12px;
    @include md {
      padding: 10px;
    }
    @include xs {
      min-width: 0px;
      padding: 8px;
    }
    @include xxs {
      padding: 6px;
    }
  }
  .heroButtonText {
    position: relative;
    display: flex;
    justify-content: center;
    width: 89px;
    height: 26px;
    font: 600 16px/1.6 "Noto Sans", Helvetica, Arial, serif;
    color: rgb(27, 89, 98);
    text-align: center;
    @include md {
      align-items: flex-start;
      font-size: 14px;
    }
    @include xxs {
      font-size: 12px;
    }
  }
  .heroButtonIcon {
    position: relative;
    margin: 1px 0px 0px;
    width: 27px;
    height: 24px;
    background: var(--src) center center / 100% 100% no-repeat;
  }
  .heroSecondaryButton {
    position: relative;
    display: flex;
    justify-content: center;
    width: 113px;
    height: 50px;
    font: 500 16px/1.6 "Noto Sans", Helvetica, Arial, serif;
    color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: underline;
    border-radius: 8px 8px 8px 8px;
    padding: 12px 12px 12px 12px;
    outline: 1px solid rgb(255, 255, 255);
    outline-offset: -1px;
    @include md {
      align-items: flex-start;
      font-size: 14px;
    }
    @include xs {
      min-width: 0px;
      padding: 8px;
    }
    @include xxs {
      padding: 6px;
      font-size: 12px;
    }
  }
  .heroImageAndLinksContainer {
    position: absolute;
    top: 23px;
    left: 38px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0px 10px;
    width: 1322px;
    height: 50px;
    @include xl {
      width: 1179px;
    }
    @include lg {
      left: 20px;
      width: 945px;
    }
    @include md {
      width: 755px;
    }
    @include sm {
      width: 667px;
    }
    @include xxs {
      top: 10px;
      left: 10px;
      width: 355px;
      height: 33px;
    }
  }
  .heroImage {
    position: relative;
    margin: 7px 0px 0px;
    width: 119px;
    height: 36px;
    background: var(--src) center center / 100% 100% no-repeat;
    @include lg {
      width: 111px;
    }
    @include xxs {
      width: 114px;
      height: 31px;
      background-size: cover;
      background-position: 100% 100%;
      background-repeat: no-repeat;
    }
  }
  .heroLinksContainer {
    position: relative;
    display: flex;
    justify-content: space-between;
    gap: 0px 10px;
    margin: 13px 0px 0px;
    width: 460px;
    height: 24px;
    @include md {
      display: none;
    }
  }
  .heroHomeLink {
    position: relative;
    width: 49px;
    height: 24px;
    font: 900 16px/1.5 "Noto Sans", Helvetica, Arial, serif;
    color: rgb(255, 255, 255);
    @include lg {
      align-items: flex-start;
      font-size: 14px;
    }
  }
  .heroPersonalLink {
    position: relative;
    width: 66px;
    height: 24px;
    font: 400 16px/1.5 "Noto Sans", Helvetica, Arial, serif;
    color: rgb(255, 255, 255);
    @include lg {
      align-items: flex-start;
      font-size: 14px;
    }
  }
  .heroBusinessLink {
    position: relative;
    width: 67px;
    height: 24px;
    font: 400 16px/1.5 "Noto Sans", Helvetica, Arial, serif;
    color: rgb(255, 255, 255);
    @include lg {
      align-items: flex-start;
      font-size: 14px;
    }
    @include md {
      display: flex;
    }
  }
  .heroUnder18Link {
    position: relative;
    width: 70px;
    height: 24px;
    font: 400 16px/1.5 "Noto Sans", Helvetica, Arial, serif;
    color: rgb(255, 255, 255);
    @include lg {
      align-items: flex-start;
      font-size: 14px;
    }
  }
  .heroContactLink {
    position: relative;
    width: 80px;
    height: 24px;
    font: 400 16px/1.5 "Noto Sans", Helvetica, Arial, serif;
    color: rgb(255, 255, 255);
    @include lg {
      align-items: flex-start;
      font-size: 14px;
    }
  }
  .heroAuthContainer {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0px 10px;
    width: 192px;
    height: 50px;
    @include md {
      display: none;
    }
  }
  .heroLoginLink {
    position: relative;
    display: flex;
    justify-content: center;
    margin: 12px 0px 0px;
    width: 43px;
    height: 26px;
    font: 500 16px/1.6 "Noto Sans", Helvetica, Arial, serif;
    color: rgb(255, 255, 255);
    text-align: center;
  }
  .heroGetStartedLink {
    position: relative;
    display: flex;
    justify-content: center;
    width: 113px;
    height: 50px;
    font: 600 16px/1.6 "Noto Sans", Helvetica, Arial, serif;
    color: rgb(0, 0, 0);
    text-align: center;
    background-color: rgb(0, 212, 126);
    border-radius: 8px 8px 8px 8px;
    padding: 12px 12px 12px 12px;
    @include lg {
      align-items: flex-start;
      padding: 8px 8px 8px 8px;
      font-size: 14px;
    }
  }
  .featuresSection {
    position: relative;
    display: flex;
    flex-direction: column;
  }
  .featureFlexCol {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 67px 0px;
    margin: 132px 0px 199px;
  }
  .featureFlexCol1 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 246px 0px;
    width: 100%;
  }
  .featureFlexCol2 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 436px 0px;
    width: 97.22%;
  }
  .featureFlexCol3 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 166px 0px;
    width: 100%;
  }
  .featureFlexCol4 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 237px 0px;
    width: 100%;
  }
  .featureFlexCol5 {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 195px 0px;
    width: 94.36%;
  }
  .featureFlexCol6 {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 218px 0px;
    margin: 0px 1px 0px 0px;
  }
  .featureGroup1 {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0px 3px 0px 0px;
  }
  .featureGroup2 {
    position: absolute;
    bottom: -7653px;
    left: -60px;
    display: flex;
    flex-direction: column;
    width: 1440px;
    height: 8181px;
    min-height: 8181px;
    @include md {
      width: 768px;
    }
  }
  .featureCover {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1440px;
    height: 8181px;
    background: var(--src) center center / 100% 100% no-repeat;
    @include xl {
      width: 1280px;
    }
    @include lg {
      width: 1024px;
    }
    @include md {
      width: 768px;
    }
  }
  .featureCover1 {
    position: relative;
    margin: 4315px 0px 0px;
    min-height: 3866px;
    background: var(--src) center center / 100% 100% no-repeat;
  }
  .featureFlexCol7 {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 69px 0px;
  }
  .featureFlexRow {
    position: relative;
    display: flex;
    justify-content: space-between;
    gap: 0px 10px;
    @include md {
      flex-direction: column;
      align-items: center;
      gap: 8px 10px;
    }
  }
  .featureHeroTitle {
    position: relative;
    display: flex;
    width: 650px;
    min-width: 0px;
    font: 800 55px/1.2 "Noto Sans", Helvetica, Arial, serif;
    color: rgb(27, 89, 98);
    @include lg {
      align-items: flex-end;
      font-size: 47px;
    }
    @include md {
      margin-top: unset;
      margin-bottom: unset;
      width: 100%;
    }
  }
  .featureHighlight {
    position: relative;
    margin: 60px 0px 0px;
    width: 535px;
    min-width: 0px;
    font: 500 16px/1.5 "Noto Sans", Helvetica, Arial, serif;
    color: rgb(0, 0, 0);
    @include lg {
      align-items: flex-start;
      font-size: 15px;
    }
    @include md {
      margin-top: unset;
      margin-bottom: unset;
      width: 100%;
      font-size: 20px;
    }
  }
  .featureFlexRow1 {
    position: relative;
    display: flex;
    gap: 0px 19px;
    @include md {
      flex-direction: column;
      align-items: center;
      gap: 8px 19px;
    }
  }
  .featureFlexCol8 {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px 0px;
    width: 763px;
    min-width: 0px;
    @include md {
      margin-top: unset;
      margin-bottom: unset;
      width: 100%;
    }
  }
  .featureGroup3 {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0px 1px 0px 0px;
  }
  .featureCover3 {
    position: relative;
    min-height: 439px;
    background: var(--src) center center / 100% 100% no-repeat;
    border-radius: 20px 20px 20px 20px;
    @include lg {
      background-size: cover;
      background-position: 50% 50%;
      background-repeat: no-repeat;
    }
  }
  .featureGroup4 {
    position: absolute;
    top: 164px;
    left: 0px;
    display: flex;
    flex-direction: column;
    width: 762px;
    height: 275px;
  }
  .featureCover4 {
    position: relative;
    min-height: 275px;
    background: var(--src) center center / 100% 100% no-repeat;
    @include md {
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
    }
  }
  .featureFlexCol9 {
    position: absolute;
    top: 120px;
    left: 40px;
    display: flex;
    flex-direction: column;
    gap: 10px 0px;
    width: 566px;
    height: 74px;
    @include lg {
      left: 25px;
      width: 464px;
    }
  }
  .featureBigTitle {
    position: relative;
    font: 800 35px/1.14 "Noto Sans", Helvetica, Arial, serif;
    color: rgb(0, 212, 126);
  }
  .featureHighlight4 {
    position: relative;
    font: 400 16px/1.5 "Noto Sans", Helvetica, Arial, serif;
    color: rgb(255, 255, 255);
  }
  .featureImage6 {
    position: relative;
    margin: 0px 0px 0px 1px;
    min-height: 438px;
    background: var(--src) center center / 100% 100% no-repeat;
  }
  .featureFlexCol10 {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px 0px;
    width: 535px;
    min-width: 0px;
    @include md {
      margin-top: unset;
      margin-bottom: unset;
      width: 100%;
    }
  }
  .featureGroup5 {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: rgb(250, 250, 250);
    border-radius: 20px 20px 20px 20px;
    padding: 0px 0px 0px 0px;
  }
  .featureCover5 {
    position: relative;
    min-height: 653px;
    background: var(--src) center center / 100% 100% no-repeat;
  }
  .featureFlexCol11 {
    position: absolute;
    top: 29px;
    left: 40px;
    display: flex;
    flex-direction: column;
    gap: 56px 0px;
    width: 410px;
    height: 624px;
    @include lg {
      left: 25px;
      width: 369px;
    }
    @include md {
      left: 0px;
      width: 100%;
    }
  }
  .featureFlexCol12 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px 0px;
    margin: 0px 24px 0px 0px;
  }
  .featureBigTitle3 {
    position: relative;
    font: 800 35px/1.2 "Noto Sans", Helvetica, Arial, serif;
    color: rgb(27, 89, 98);
    @include lg {
      align-items: flex-start;
      font-size: 32px;
    }
    @include md {
      width: 100%;
      font-size: 50px;
    }
  }
  .featureHighlight8 {
    position: relative;
    font: 400 16px/1.5 "Noto Sans", Helvetica, Arial, serif;
    color: rgb(0, 0, 0);
    @include md {
      align-items: flex-start;
      margin: 15px 0px 0px;
      padding: 0px 30px 0px 0px;
      font-size: 20px;
    }
  }
  .featureImage17 {
    position: relative;
    margin: 0px 0px 0px auto;
    width: 88.78%;
    min-height: 473px;
    background: var(--src) center center / 100% 100% no-repeat;
    @include lg {
      display: flex;
      margin: 0px;
      width: 100%;
      background-size: contain;
      background-position: center center;
      background-repeat: no-repeat;
    }
  }
  .featureGroup6 {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 224px;
    min-height: 224px;
  }
  .featureRect5 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 535px;
    height: 224px;
    background-color: rgb(180, 246, 219);
    border-radius: 20px 20px 20px 20px;
    @include md {
      top: 50px;
      width: 100%;
    }
  }
  .featureFlexRow2 {
    position: relative;
    display: flex;
    justify-content: space-between;
    gap: 0px 10px;
    margin: 100px 33px 40px 40px;
  }
  .featureBigTitle2 {
    position: relative;
    width: 273px;
    min-width: 0px;
    font: 500 35px/1.2 "Noto Sans", Helvetica, Arial, serif;
    color: rgb(0, 0, 0);
    @include lg {
      align-items: flex-start;
      font-size: 32px;
    }
  }
  .featureImage14 {
    position: relative;
    margin: 20px 0px 0px;
    width: 64px;
    min-width: 0px;
    height: 64px;
    min-height: 64px;
    background: var(--src) center center / 100% 100% no-repeat;
    border-radius: 32px 32px 32px 32px;
    outline: 1px solid rgb(255, 255, 255);
    outline-offset: -1px;
  }
  .featureGroup7 {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: rgb(243, 242, 242);
    border-radius: 20px 20px 20px 20px;
    padding: 0px 0px 0px 0px;
  }
  .featureBigTitle4 {
    position: absolute;
    top: 29px;
    right: 45px;
    display: flex;
    justify-content: flex-end;
    width: 41px;
    height: 42px;
    font: 500 35px/1.2 "Noto Sans", Helvetica, Arial, serif;
    color: rgb(255, 255, 255);
    text-align: right;
  }
  .featureCover6 {
    position: relative;
    min-height: 637px;
    background: var(--src) center center / 100% 100% no-repeat;
    @include xl {
      width: 1171px;
    }
    @include lg {
      width: 939px;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
    }
    @include md {
      width: 705px;
    }
  }
  .featureGroup8 {
    position: absolute;
    top: 206px;
    left: 0px;
    display: flex;
    flex-direction: column;
    width: 1320px;
    height: 431px;
    @include lg {
      width: 934px;
    }
    @include md {
      top: 316px;
      width: 712px;
    }
  }
  .featureFlexCol13 {
    position: absolute;
    top: 216px;
    left: 41px;
    display: flex;
    flex-direction: column;
    gap: 24px 0px;
    width: 673px;
    height: 90px;
  }
  .featureHeroTitle2 {
    position: relative;
    font: 800 54px/0.77 "Noto Sans", Helvetica, Arial, serif;
    color: rgb(0, 212, 126);
  }
  .featureCover7 {
    position: relative;
    min-height: 431px;
    background: var(--src) center center / 100% 100% no-repeat;
    @include xl {
      width: 1172px;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
    }
    @include lg {
      width: 940px;
    }
    @include md {
      width: 711px;
    }
  }
  .featureImage141 {
    position: absolute;
    top: 81px;
    left: 41px;
    width: 64px;
    height: 64px;
    background: var(--src) center center / 100% 100% no-repeat;
    border-radius: 32px 32px 32px 32px;
    outline: 1px solid rgb(255, 255, 255);
    outline-offset: -1px;
  }
  .featureImage142 {
    position: absolute;
    top: 81px;
    right: 45px;
    width: 64px;
    height: 64px;
    background: var(--src) center center / 100% 100% no-repeat;
    border-radius: 32px 32px 32px 32px;
    outline: 1px solid rgb(255, 255, 255);
    outline-offset: -1px;
  }
  .featureFlexCol14 {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 67px 0px;
  }
  .featureFlexRow3 {
    position: relative;
    display: flex;
    gap: 0px 20px;
    @include md {
      flex-direction: column;
      align-items: center;
      gap: 8px 20px;
    }
  }
  .featureFlexCol15 {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 27px 0px;
    margin: 0px 0px 56px;
    width: 650px;
    min-width: 0px;
    @include md {
      margin-top: unset;
      margin-bottom: unset;
      width: 100%;
    }
  }
  .featureHeroTitle11 {
    position: relative;
    font: 800 55px/1.2 "Noto Sans", Helvetica, Arial, serif;
    color: rgb(27, 89, 98);
    @include lg {
      align-items: flex-start;
      font-size: 44px;
    }
    @include md {
      font-size: 53px;
    }
  }
  .heroContentBox1 {
    position: relative;
    display: flex;
    gap: 0px 8px;
    width: 146px;
    background-color: rgb(0, 212, 126);
    border-radius: 8px 8px 8px 8px;
    padding: 12px 12px 12px 12px;
  }
  .featureHighlight9 {
    position: relative;
    display: flex;
    justify-content: center;
    min-width: 0px;
    font: 500 16px/1.6 "Noto Sans", Helvetica, Arial, serif;
    color: rgb(27, 89, 98);
    text-align: center;
  }
  .featureImage2 {
    position: relative;
    margin: 1px 0px;
    width: 27px;
    min-width: 0px;
    height: 24px;
    min-height: 24px;
    background: var(--src) center center / 100% 100% no-repeat;
  }
  .featureFlexCol16 {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 651px;
    min-width: 0px;
    padding: 1px 0px 20px 0px;
    border-color: rgba(255, 255, 255, 0.2);
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    @include md {
      margin: 20px 0px 0px;
      width: 100%;
    }
  }
  .featureImage20 {
    position: relative;
    width: 101px;
    height: 101px;
    min-height: 101px;
    background: var(--src) center center / 100% 100% no-repeat;
  }
  .featureMediumTitle {
    position: relative;
    margin: 2px 0px 0px;
    font: 800 24px/1.75 "Noto Sans", Helvetica, Arial, serif;
    color: rgb(0, 0, 0);
    @include lg {
      align-items: flex-start;
      font-size: 21px;
    }
    @include md {
      font-size: 30px;
    }
  }
  .featureHighlight81 {
    position: relative;
    margin: 9px 0px 0px;
    font: 400 16px/1.5 "Noto Sans", Helvetica, Arial, serif;
    color: rgb(0, 0, 0);
    @include md {
      align-items: flex-start;
      font-size: 23px;
    }
  }
  .featureGroup9 {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 650px;
    min-width: 0px;
    @include md {
      margin-top: unset;
      margin-bottom: unset;
      width: 100%;
    }
  }
  .featureRect9 {
    position: relative;
    min-height: 265px;
    border-color: rgba(255, 255, 255, 0.2);
    border-style: solid;
    border-width: 0px 0px 1px 0px;
  }
  .featureFlexCol17 {
    position: absolute;
    top: -14px;
    left: 0px;
    display: flex;
    flex-direction: column;
    width: 650px;
    height: 235px;
    @include lg {
      width: 455px;
    }
    @include md {
      align-items: center;
      gap: 8px;
      width: 100%;
    }
  }
  .featureImage18 {
    position: relative;
    width: 113px;
    height: 113px;
    min-height: 113px;
    background: var(--src) center center / 100% 100% no-repeat;
    @include md {
      display: flex;
      width: 101px;
      height: 101px;
    }
  }
  .featureMediumTitle1 {
    position: relative;
    margin: 1px 0px 0px;
    font: 800 24px/1.75 "Noto Sans", Helvetica, Arial, serif;
    color: rgb(0, 0, 0);
    @include lg {
      align-items: flex-start;
      font-size: 21px;
    }
    @include md {
      margin-top: unset;
      margin-right: unset;
      margin-bottom: unset;
      margin-left: unset;
      width: 100%;
      font-size: 30px;
    }
  }
  .featureHighlight82 {
    position: relative;
    margin: 14px 0px 0px;
    font: 400 16px/1.5 "Noto Sans", Helvetica, Arial, serif;
    color: rgb(0, 0, 0);
    @include md {
      align-items: flex-start;
      margin-top: unset;
      margin-right: unset;
      margin-bottom: unset;
      margin-left: unset;
      width: 100%;
      font-size: 25px;
    }
  }
  .featureFlexCol18 {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 651px;
    min-width: 0px;
    padding: 2px 0px 44px 0px;
    border-color: rgba(0, 0, 0, 0.2);
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    @include md {
      margin: 25px 0px 0px;
      width: 100%;
    }
  }
  .featureImage19 {
    position: relative;
    width: 96px;
    height: 96px;
    min-height: 96px;
    background: var(--src) center center / 100% 100% no-repeat;
  }
  .featureMediumTitle11 {
    position: relative;
    margin: 1px 0px 0px;
    font: 800 24px/1.75 "Noto Sans", Helvetica, Arial, serif;
    color: rgb(0, 0, 0);
    @include lg {
      align-items: flex-start;
      font-size: 21px;
    }
    @include md {
      font-size: 30px;
    }
  }
  .featureHighlight83 {
    position: relative;
    margin: 15px 0px 0px;
    font: 400 16px/1.5 "Noto Sans", Helvetica, Arial, serif;
    color: rgb(0, 0, 0);
    @include md {
      align-items: flex-start;
      font-size: 25px;
    }
  }
  .featureContentBox5 {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: rgb(245, 245, 245);
    border-radius: 20px 20px 20px 20px;
    outline: 3px solid rgb(255, 255, 255);
    outline-offset: -3px;
  }
  .featureFlexCol19 {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 85px 0px;
    margin: 66px auto 78px;
    width: 93.36%;
  }
  .featureHeroTitle12 {
    position: relative;
    margin: 72px 0px 0px;
    min-width: 0px;
    font: 800 55px/1.2 "Noto Sans", Helvetica, Arial, serif;
    color: rgb(27, 89, 98);
    @include lg {
      align-items: flex-start;
      font-size: 50px;
    }
    @include md {
      margin-top: unset;
      margin-bottom: unset;
      width: 100%;
    }
  }
  .featureFlexCol20 {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 16px 0px;
    width: 427px;
    min-width: 0px;
    @include md {
      margin-top: unset;
      margin-bottom: unset;
      width: 100%;
    }
  }
  .featureHighlight10 {
    position: relative;
    font: 400 16px/1.5 "Noto Sans", Helvetica, Arial, serif;
    color: rgb(2, 71, 81);
  }
  .heroContentBox2 {
    position: relative;
    display: flex;
    gap: 0px 8px;
    width: 146px;
    background-color: rgb(0, 212, 126);
    border-radius: 8px 8px 8px 8px;
    padding: 12px 12px 12px 12px;
    @include lg {
      margin: 10px 0px 0px;
    }
  }
  .featureFlexRow4 {
    position: relative;
    display: flex;
    gap: 0px 15px;
    @include md {
      flex-direction: column;
      align-items: center;
      gap: 8px 15px;
    }
  }
  .featureGroup10 {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 426px;
    min-width: 0px;
    background-color: rgb(217, 217, 217);
    padding: 0px 0px 0px 0px;
    @include md {
      margin-top: unset;
      margin-bottom: unset;
      width: 100%;
    }
  }
  .featureCover8 {
    position: relative;
    min-height: 543px;
    background: var(--src) center center / 100% 100% no-repeat;
    @include xl {
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
    }
    @include lg {
      border-radius: 20px 20px 20px 20px;
    }
  }
  .featureContentBox2 {
    position: absolute;
    top: 165px;
    left: 0px;
    display: flex;
    flex-direction: column;
    width: 426px;
    height: 378px;
    background: var(--src) center center / 100% 100% no-repeat;
    @include xl {
      width: 380px;
    }
    @include lg {
      width: 300px;
      border-radius: 0px 0px 0px 0px;
    }
    @include md {
      width: 100%;
    }
  }
  .featureFlexCol21 {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 16px 0px;
    margin: 158px 32px 74px;
    padding: 20px 0px 20px 0px;
    border-color: rgba(255, 255, 255, 0.2);
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    @include lg {
      margin: 158px 22px 74px 15px;
    }
  }
  .featureMediumTitle111 {
    position: relative;
    font: 800 24px/1.75 "Noto Sans", Helvetica, Arial, serif;
    color: rgb(245, 245, 245);
    @include lg {
      align-items: flex-start;
      font-size: 21px;
    }
    @include md {
      font-size: 30px;
    }
  }
  .featureHighlight41 {
    position: relative;
    font: 400 16px/1.5 "Noto Sans", Helvetica, Arial, serif;
    color: rgb(255, 255, 255);
    @include lg {
      align-items: flex-start;
      font-size: 15px;
    }
    @include md {
      font-size: 25px;
    }
  }
  .featureGroup11 {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 425px;
    min-width: 0px;
    background-color: rgb(217, 217, 217);
    padding: 0px 0px 0px 0px;
    @include md {
      margin-top: unset;
      margin-bottom: unset;
      width: 100%;
    }
  }
  .featureCover10 {
    position: relative;
    min-height: 543px;
    background: var(--src) center center / 100% 100% no-repeat;
    @include xl {
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
    }
    @include lg {
      border-radius: 20px 20px 20px 20px;
    }
  }
  .featureContentBox3 {
    position: absolute;
    top: 165px;
    left: 0px;
    display: flex;
    flex-direction: column;
    width: 425px;
    height: 378px;
    background: var(--src) center center / 100% 100% no-repeat;
    @include xl {
      width: 380px;
    }
    @include lg {
      width: 300px;
    }
    @include md {
      width: 100%;
    }
  }
  .featureFlexCol22 {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 16px 0px;
    margin: 158px 32px 74px 31px;
    padding: 20px 0px 20px 0px;
    border-color: rgba(255, 255, 255, 0.2);
    border-style: solid;
    border-width: 0px 0px 1px 0px;
  }
  .featureHighlight42 {
    position: relative;
    font: 400 16px/1.5 "Noto Sans", Helvetica, Arial, serif;
    color: rgb(255, 255, 255);
    @include lg {
      align-items: flex-start;
      font-size: 14px;
    }
    @include md {
      font-size: 25px;
    }
  }
  .featureContentBox4 {
    position: absolute;
    top: 165px;
    left: 0px;
    display: flex;
    flex-direction: column;
    width: 426px;
    height: 378px;
    background: var(--src) center center / 100% 100% no-repeat;
    @include xl {
      width: 380px;
    }
    @include lg {
      width: 300px;
    }
    @include md {
      width: 100%;
    }
  }
  .featureFlexCol23 {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 16px 0px;
    margin: 158px 32px 74px 33px;
    padding: 20px 0px 20px 0px;
    border-color: rgba(255, 255, 255, 0.2);
    border-style: solid;
    border-width: 0px 0px 1px 0px;
  }
  .featureMediumTitle1111 {
    position: relative;
    font: 800 24px/1.75 "Noto Sans", Helvetica, Arial, serif;
    color: rgb(245, 245, 245);
    @include lg {
      align-items: flex-start;
      font-size: 22px;
    }
    @include md {
      font-size: 30px;
    }
  }
  .featureHighlight43 {
    position: relative;
    font: 400 16px/1.5 "Noto Sans", Helvetica, Arial, serif;
    color: rgb(255, 255, 255);
    @include xl {
      padding: 0px 17px 0px 0px;
    }
    @include md {
      align-items: flex-start;
      font-size: 25px;
    }
  }
  .featureFlexCol24 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 96.43%;
    overflow: hidden;
  }
  .featureGroup12 {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 97.78%;
  }
  .featureLine {
    position: absolute;
    top: 119px;
    left: 0px;
    width: 630px;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.2);
  }
  .featureFlexRow5 {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0px 10px;
    @include md {
      flex-direction: column;
      gap: 8px 10px;
    }
  }
  .featureFlexCol25 {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 24px 0px;
    width: 654px;
    min-width: 0px;
    @include md {
      margin-top: unset;
      margin-bottom: unset;
      width: 100%;
    }
  }
  .featureHeroTitle3 {
    position: relative;
    font: 800 66px/1.2 "Noto Sans", Helvetica, Arial, serif;
    color: rgb(27, 89, 98);
    @include xl {
      align-items: flex-start;
      font-size: 58px;
    }
    @include lg {
      font-size: 47px;
    }
  }
  .featureHighlight11 {
    position: relative;
    width: 75.23%;
    font: 400 16px/1.5 "Noto Sans", Helvetica, Arial, serif;
    color: rgb(27, 89, 98);
    @include lg {
      align-items: flex-start;
      font-size: 15px;
    }
  }
  .featureImage21 {
    position: relative;
    width: 630px;
    min-width: 0px;
    min-height: 630px;
    background: var(--src) center center / 100% 100% no-repeat;
    border-radius: 67px 67px 67px 67px;
    outline: 3px solid rgb(255, 255, 255);
    outline-offset: -3px;
    @include xl {
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
    }
    @include lg {
      display: flex;
      margin: 0px 0px 0px 15px;
      width: 540px;
      min-height: 522px;
      padding: 0px 0px 0px 0px;
    }
    @include md {
      margin: 24px 0px 0px 15px;
      width: 100%;
    }
  }
  .featureFlexRow6 {
    position: relative;
    display: flex;
    justify-content: space-between;
    gap: 0px 10px;
    margin: 119px 0px 0px;
    width: 100%;
    @include lg {
      margin: 100px 0px 0px;
    }
    @include md {
      flex-direction: column;
      align-items: center;
      gap: 8px 10px;
    }
  }
  .featureImage27 {
    position: relative;
    width: 630px;
    min-width: 0px;
    min-height: 876px;
    background: var(--src) center center / 100% 100% no-repeat;
    @include xl {
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
    }
    @include lg {
      min-height: 826px;
    }
    @include md {
      margin-top: unset;
      margin-bottom: unset;
      width: 100%;
    }
  }
  .featureFlexCol26 {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 25px 0px;
    margin: 371px 0px 120px;
    width: 630px;
    min-width: 0px;
    @include md {
      margin-top: unset;
      margin-bottom: unset;
      width: 100%;
    }
  }
  .featureHeroTitle4 {
    position: relative;
    font: 800 60px/1.2 "Noto Sans", Helvetica, Arial, serif;
    color: rgb(27, 89, 98);
    @include xl {
      align-items: flex-start;
      font-size: 56px;
    }
    @include lg {
      font-size: 47px;
    }
    @include md {
      font-size: 37px;
    }
  }
  .featureHighlight111 {
    position: relative;
    width: 87.78%;
    font: 400 16px/1.5 "Noto Sans", Helvetica, Arial, serif;
    color: rgb(27, 89, 98);
    @include lg {
      align-items: flex-start;
      font-size: 15px;
    }
    @include md {
      font-size: 17px;
    }
  }
  .featureFlexRow7 {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0px 10px;
    margin: 226px 0px 0px;
    width: 97.78%;
    @include md {
      flex-direction: column;
      gap: 8px 10px;
    }
  }
  .featureFlexCol27 {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 25px 0px;
    width: 630px;
    min-width: 0px;
    @include md {
      margin-top: unset;
      margin-bottom: unset;
      width: 100%;
    }
  }
  .featureHeroTitle41 {
    position: relative;
    font: 800 60px/1.2 "Noto Sans", Helvetica, Arial, serif;
    color: rgb(27, 89, 98);
    @include xl {
      align-items: flex-start;
      font-size: 52px;
    }
    @include lg {
      font-size: 43px;
    }
    @include md {
      font-size: 37px;
    }
  }
  .featureHighlight1111 {
    position: relative;
    width: 87.78%;
    font: 400 16px/1.5 "Noto Sans", Helvetica, Arial, serif;
    color: rgb(27, 89, 98);
    @include lg {
      align-items: flex-start;
      font-size: 15px;
    }
  }
  .featureImage28 {
    position: relative;
    width: 630px;
    min-width: 0px;
    min-height: 488px;
    background: var(--src) center center / 100% 100% no-repeat;
    border-radius: 20px 20px 20px 20px;
    outline: 3px solid rgb(255, 255, 255);
    outline-offset: -3px;
    @include xl {
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
    }
    @include md {
      margin-top: unset;
      margin-bottom: unset;
      width: 100%;
    }
  }
  .plansSection {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 132px 0px;
    width: 85.71%;
    @include lg {
      width: 95%;
    }
  }
  .planFlexCol29 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px 0px;
    width: 66.42%;
    @include md {
      width: 80%;
    }
  }
  .planHeroTitle5 {
    position: relative;
    display: flex;
    justify-content: center;
    font: 800 64px/1.1 "Noto Sans", Helvetica, Arial, serif;
    color: rgb(26, 25, 30);
    text-align: center;
    letter-spacing: -1.92px;
  }
  .planSubtitle {
    position: relative;
    display: flex;
    justify-content: center;
    font: 400 20px/1.79 "Noto Sans", Helvetica, Arial, serif;
    color: rgb(27, 89, 98);
    text-align: center;
  }
  .planFlexRow8 {
    position: relative;
    display: flex;
    gap: 0px 64px;
    width: 100%;
    @include lg {
      column-gap: 15px;
    }
    @include md {
      flex-direction: column;
      align-items: center;
      gap: 8px 15px;
    }
  }
  .planContentBox9 {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 357px;
    min-width: 0px;
    background-color: rgb(255, 255, 255);
    border-radius: 8px 8px 8px 8px;
    @include lg {
      width: 33.33%;
    }
    @include md {
      margin-top: unset;
      margin-bottom: unset;
      width: 100%;
    }
  }
  .planFlexCol30 {
    position: absolute;
    top: 0px;
    left: 69px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px 0px;
    width: 220px;
    height: 148px;
    @include xl {
      left: 49px;
    }
  }
  .planFlexRow9 {
    position: relative;
    display: flex;
    gap: 0px 8px;
    width: 57.27%;
    @include lg {
      margin: 0px 68px 0px 0px;
    }
  }
  .planSubtitle1 {
    position: relative;
    display: flex;
    justify-content: center;
    min-width: 0px;
    font: 800 20px/1.2 "Noto Sans", Helvetica, Arial, serif;
    color: rgb(26, 25, 30);
    text-align: center;
    letter-spacing: -0.6px;
    @include lg {
      align-items: flex-start;
      font-size: 19px;
    }
  }
  .planInfo {
    position: relative;
    display: flex;
    justify-content: center;
    margin: 1px 0px;
    width: 56px;
    min-width: 0px;
    font: 500 12px/1.79 "Inter", Helvetica, Arial, serif;
    color: rgb(27, 89, 98);
    text-align: center;
    background-color: rgb(0, 212, 126);
    border-radius: 4px 4px 4px 4px;
    padding: 0px 6px 0px 6px;
  }
  .planFlexCol31 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px 0px;
    width: 100%;
    @include lg {
      margin: 0px 68px 0px 0px;
    }
  }
  .planHeroTitle6 {
    position: relative;
    display: flex;
    justify-content: center;
    font: 700 40px/1 "Noto Sans", Helvetica, Arial, serif;
    color: rgb(26, 25, 30);
    text-align: center;
    letter-spacing: -1.2px;
  }
  .planHighlight12 {
    position: relative;
    display: flex;
    justify-content: center;
    font: 500 16px/1.6 "Inter", Helvetica, Arial, serif;
    color: rgba(26, 25, 30, 0.498);
    text-align: center;
  }
  .planContentBox8 {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 172px 1px 74px;
    background-color: rgb(0, 212, 126);
    border-radius: 10.649999618530273px 10.649999618530273px 10.649999618530273px 10.649999618530273px;
  }
  .planContentBox6 {
    position: relative;
    display: flex;
    flex-direction: column;
    background: var(--src) center center / 100% 100% no-repeat;
    border-radius: 10.649999618530273px 10.649999618530273px 10.649999618530273px 10.649999618530273px;
    @include lg {
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
    }
  }
  .planFlexCol32 {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 28px 27px 28px 28px;
    @include xl {
      margin: 16px 27px 8px 28px;
    }
    @include lg {
      margin: 18px 15px 20px;
    }
  }
  .planFlexRow10 {
    position: relative;
    display: flex;
    justify-content: space-between;
    gap: 0px 10px;
    margin: 0px 3px 0px 2px;
  }
  .planImage29 {
    position: relative;
    width: 95px;
    min-width: 0px;
    height: 29px;
    min-height: 29px;
    background: var(--src) center center / 100% 100% no-repeat;
  }
  .planImage30 {
    position: relative;
    margin: 0px 0px 6px;
    width: 23px;
    min-width: 0px;
    height: 23px;
    min-height: 23px;
    background: var(--src) center center / 100% 100% no-repeat;
  }
  .planImage31 {
    position: relative;
    margin: 52px 6px 0px 0px;
    min-height: 17px;
    background: var(--src) center center / 100% 100% no-repeat;
    @include lg {
      margin: 40px 6px 0px 0px;
    }
  }
  .planGroup13 {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 23px 0px 0px;
  }
  .planInfo1 {
    position: absolute;
    top: 2px;
    left: 0px;
    width: 70px;
    height: 15px;
    font: 500 12px/1.2 "Inter", Helvetica, Arial, serif;
    color: rgb(255, 255, 255);
    opacity: 0.8;
  }
  .planInfo11 {
    position: absolute;
    top: 2px;
    left: 103px;
    width: 66px;
    height: 15px;
    font: 500 12px/1.2 "Inter", Helvetica, Arial, serif;
    color: rgb(255, 255, 255);
    opacity: 0.8;
  }
  .planFlexRow {
    position: relative;
    display: flex;
    justify-content: space-between;
    gap: 0px 10px;
  }
  .planInfo2 {
    position: relative;
    margin: 19px 0px 1px;
    min-width: 0px;
    font: 500 12.779999732971191px/1.2 "Inter", Helvetica, Arial, serif;
    color: rgb(255, 255, 255);
  }
  .planImage32 {
    position: relative;
    width: 53px;
    min-width: 0px;
    height: 36px;
    min-height: 36px;
    background: var(--src) center center / 100% 100% no-repeat;
    border-radius: 5.679999828338623px 5.679999828338623px 5.679999828338623px 5.679999828338623px;
  }
  .planContentBox7 {
    position: absolute;
    bottom: 0px;
    left: 86px;
    display: flex;
    flex-direction: column;
    width: 186px;
    height: 50px;
    background-color: rgb(0, 212, 126);
    border-radius: 8px 8px 8px 8px;
    @include lg {
      left: 30px;
    }
  }
  .planHighlight13 {
    position: absolute;
    top: 17px;
    left: 30px;
    width: 87px;
    height: 16px;
    font: 500 16px/1 "Noto Sans", Helvetica, Arial, serif;
    color: rgb(27, 89, 98);
  }
  .planImage22 {
    position: relative;
    margin: 13px 22px 13px auto;
    width: 27px;
    height: 24px;
    min-height: 24px;
    background: var(--src) center center / 100% 100% no-repeat;
  }
  .content_box {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px 0px;
    width: 358px;
    min-width: 0px;
    background-color: rgb(255, 255, 255);
    border-radius: 8px 8px 8px 8px;
    padding: 0px 1px 0px 2px;
    @include lg {
      width: 33.33%;
    }
    @include md {
      margin-top: unset;
      margin-bottom: unset;
      width: 100%;
    }
  }
  .planFlexCol33 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 61.97%;
    @include xl {
      width: 69.97%;
    }
    @include lg {
      width: 89.97%;
    }
  }
  .planSubtitle11 {
    position: relative;
    display: flex;
    justify-content: center;
    font: 800 20px/1.2 "Noto Sans", Helvetica, Arial, serif;
    color: rgb(26, 25, 30);
    text-align: center;
    letter-spacing: -0.6px;
    @include lg {
      align-items: flex-start;
      font-size: 19px;
    }
  }
  .planFlexRow11 {
    position: relative;
    display: flex;
    gap: 0px 8px;
    margin: 24px 0px 0px;
    width: 59.77%;
  }
  .planHeroTitle61 {
    position: relative;
    display: flex;
    justify-content: center;
    min-width: 0px;
    font: 700 40px/1 "Noto Sans", Helvetica, Arial, serif;
    color: rgb(26, 25, 30);
    text-align: center;
    letter-spacing: -1.2px;
  }
  .planHighlight121 {
    position: relative;
    display: flex;
    justify-content: center;
    margin: 14px 0px 0px;
    min-width: 0px;
    font: 500 16px/1.6 "Inter", Helvetica, Arial, serif;
    color: rgba(26, 25, 30, 0.498);
    text-align: center;
    @include xl {
      align-items: flex-start;
      font-size: 14px;
    }
  }
  .planHighlight122 {
    position: relative;
    display: flex;
    justify-content: center;
    margin: 8px 0px 0px;
    font: 500 16px/1.6 "Inter", Helvetica, Arial, serif;
    color: rgba(26, 25, 30, 0.498);
    text-align: center;
  }
  .planContentBox10 {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 213px;
    min-height: 213px;
    background: var(--src) center center / 100% 100% no-repeat;
    border-radius: 15px 15px 15px 15px;
    @include lg {
      height: 190px;
      min-height: 180px;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
    }
  }
  .image38 {
    position: absolute;
    top: 121px;
    right: 0px;
    bottom: 75px;
    left: 0px;
    display: flex;
    flex-direction: column;
    margin: 0px auto;
    width: 83.1%;
    min-height: 17px;
    background: var(--src) center center / 100% 100% no-repeat;
    @include lg {
      top: -17px;
      bottom: 0px;
      width: 93%;
    }
  }
  .planFlexCol34 {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 95px 0px;
    margin: 40px 28px 18px 27px;
    @include lg {
      margin: 17px 12px 4px;
    }
  }
  .planFlexRow12 {
    position: relative;
    display: flex;
    justify-content: space-between;
    gap: 0px 10px;
    margin: 0px 3px;
    @include xl {
      margin: 0px;
    }
  }
  .planImage36 {
    position: relative;
    width: 94px;
    min-width: 0px;
    height: 28px;
    min-height: 28px;
    background: var(--src) center center / 100% 100% no-repeat;
  }
  .planImage37 {
    position: relative;
    margin: 0px 0px 5px;
    width: 22px;
    min-width: 0px;
    height: 23px;
    min-height: 23px;
    background: var(--src) center center / 100% 100% no-repeat;
  }
  .planFlexRow5 {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0px 10px;
    @include lg {
      margin: 95px 0px 0px;
    }
  }
  .planFlexCol35 {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1px 0px;
    width: 70px;
    min-width: 0px;
  }
  .planInfo12 {
    position: relative;
    font: 500 12px/1.2 "Inter", Helvetica, Arial, serif;
    color: rgb(255, 255, 255);
    opacity: 0.8;
  }
  .planInfo21 {
    position: relative;
    margin: 0px 12px 0px 0px;
    font: 500 12.779999732971191px/1.2 "Inter", Helvetica, Arial, serif;
    color: rgb(255, 255, 255);
  }
  .planFlexCol36 {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1px 0px;
    width: 66px;
    min-width: 0px;
  }
  .planInfo22 {
    position: relative;
    margin: 0px 27px 0px 0px;
    font: 500 12.779999732971191px/1.2 "Inter", Helvetica, Arial, serif;
    color: rgb(255, 255, 255);
  }
  .planImage39 {
    position: relative;
    width: 58px;
    min-width: 0px;
    height: 17px;
    min-height: 17px;
    background: var(--src) center center / 100% 100% no-repeat;
  }
  .planContentBox71 {
    position: relative;
    display: flex;
    gap: 0px 20px;
    width: 52.39%;
    background-color: rgb(0, 212, 126);
    border-radius: 8px 8px 8px 8px;
    padding: 13px 22px 13px 30px;
    @include xl {
      width: 61.39%;
    }
  }
  .planHighlight131 {
    position: relative;
    margin: 4px 0px;
    min-width: 0px;
    font: 500 16px/1 "Noto Sans", Helvetica, Arial, serif;
    color: rgb(27, 89, 98);
    @include xl {
      align-items: flex-start;
      font-size: 16px;
    }
  }
  .planImage23 {
    position: relative;
    width: 27px;
    min-width: 0px;
    height: 24px;
    min-height: 24px;
    background: var(--src) center center / 100% 100% no-repeat;
  }
  .planContentBox14 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px 0px;
    width: 357px;
    min-width: 0px;
    background-color: rgb(255, 255, 255);
    border-radius: 8px 8px 8px 8px;
    padding: 0px 1px 0px 1px;
    @include lg {
      width: 33.33%;
    }
    @include md {
      margin-top: unset;
      margin-bottom: unset;
      width: 100%;
    }
  }
  .planSubtitle111 {
    position: relative;
    display: flex;
    justify-content: center;
    font: 800 20px/1.2 "Noto Sans", Helvetica, Arial, serif;
    color: rgb(26, 25, 30);
    text-align: center;
    letter-spacing: -0.6px;
  }
  .planFlexRow13 {
    position: relative;
    display: flex;
    gap: 0px 8px;
    margin: 24px 0px 0px;
    width: 69.77%;
  }
  .planHighlight1211 {
    position: relative;
    display: flex;
    justify-content: center;
    margin: 14px 0px 0px;
    min-width: 0px;
    font: 500 16px/1.6 "Inter", Helvetica, Arial, serif;
    color: rgba(26, 25, 30, 0.498);
    text-align: center;
    @include xl {
      align-items: flex-start;
      font-size: 15px;
    }
  }
  .planFlexCol37 {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    background: var(--src) center center / 100% 100% no-repeat;
    border-radius: 15px 15px 15px 15px;
    padding: 40px 28px 17px 27px;
    @include lg {
      height: 180px;
      padding: 21px 10px 0px 12px;
    }
  }
  .planFlexRow14 {
    position: relative;
    display: flex;
    justify-content: space-between;
    gap: 0px 10px;
    margin: 0px 2px 0px 3px;
  }
  .planImage45 {
    position: relative;
    width: 95px;
    min-width: 0px;
    height: 28px;
    min-height: 28px;
    background: var(--src) center center / 100% 100% no-repeat;
  }
  .planImage301 {
    position: relative;
    margin: 0px 0px 5px;
    width: 23px;
    min-width: 0px;
    height: 23px;
    min-height: 23px;
    background: var(--src) center center / 100% 100% no-repeat;
  }
  .planImage381 {
    position: relative;
    margin: 53px 5px 0px 0px;
    min-height: 17px;
    background: var(--src) center center / 100% 100% no-repeat;
    @include lg {
      margin: 28px 5px 0px 0px;
    }
  }
  .planFlexRow15 {
    position: relative;
    display: flex;
    justify-content: space-between;
    gap: 0px 10px;
    margin: 23px 0px 0px;
    @include lg {
      margin: 36px 0px 0px;
    }
  }
  .planFlexCol38 {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1px 0px;
    margin: 2px 0px 1px;
    width: 70px;
    min-width: 0px;
  }
  .planFlexCol39 {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1px 0px;
    margin: 2px 0px 1px;
    width: 66px;
    min-width: 0px;
  }
  .planImage46 {
    position: relative;
    width: 53px;
    min-width: 0px;
    height: 35px;
    min-height: 35px;
    background: var(--src) center center / 100% 100% no-repeat;
    border-radius: 5.679999828338623px 5.679999828338623px 5.679999828338623px 5.679999828338623px;
  }
  .planContentBox13 {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 52.39%;
    background-color: rgb(0, 212, 126);
    border-radius: 8px 8px 8px 8px;
    @include lg {
      width: 60.39%;
    }
  }
  .planImage24 {
    position: relative;
    margin: 13px 21px 13px auto;
    width: 27px;
    height: 24px;
    min-height: 24px;
    background: var(--src) center center / 100% 100% no-repeat;
  }
  .planImage50 {
    position: relative;
    width: 100%;
    min-height: 523px;
    background: var(--src) center center / 100% 100% no-repeat;
  }
  .footerSection {
    position: relative;
    display: flex;
    justify-content: space-between;
    gap: 0px 10px;
    width: 92.15%;
    @include lg {
      width: 98.15%;
    }
  }
  .footerFlexRow17 {
    position: relative;
    display: flex;
    gap: 0px 24px;
    margin: 124px 0px 22px;
    width: 264px;
    min-width: 0px;
    @include lg {
      column-gap: 16px;
      margin: 117px 0px 22px;
      width: 33.33%;
    }
  }
  .footerImage15 {
    position: relative;
    width: 24px;
    min-width: 0px;
    height: 24px;
    min-height: 24px;
    background: var(--src) center center / 100% 100% no-repeat;
    @include lg {
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
    }
  }
  .footerImage151 {
    position: relative;
    width: 24px;
    min-width: 0px;
    height: 24px;
    min-height: 24px;
    background: var(--src) center center / 100% 100% no-repeat;
  }
  .wrapper25 {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 24px;
    min-width: 0px;
    min-height: 24px;
    background: var(--src) center center / 100% 100% no-repeat;
  }
  .footerFlexCol40 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 38px 0px;
    margin: 12px 0px 0px;
    width: 466px;
    min-width: 0px;
    @include lg {
      gap: 20px 0px;
      width: 33.33%;
    }
  }
  .footerFlexRow18 {
    position: relative;
    display: flex;
    justify-content: space-between;
    gap: 0px 10px;
    width: 97%;
  }
  .footerHighlight14 {
    position: relative;
    min-width: 0px;
    font: 800 16px/1.5 "Noto Sans", Helvetica, Arial, serif;
    color: rgb(27, 89, 98);
    @include lg {
      align-items: flex-start;
      font-size: 14px;
    }
  }
  .footerHighlight8 {
    position: relative;
    font: 400 16px/1.5 "Noto Sans", Helvetica, Arial, serif;
    color: rgb(0, 0, 0);
    @include lg {
      align-items: flex-start;
      font-size: 14px;
    }
  }
  .footerFlexCol41 {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 18px 0px;
    margin: 0px 0px 64px;
    width: 315px;
    min-width: 0px;
    @include lg {
      margin: 10px 0px 59px 19px;
      width: 33%;
    }
  }
  .footerHighlight141 {
    position: relative;
    font: 800 16px/1.5 "Noto Sans", Helvetica, Arial, serif;
    color: rgb(27, 89, 98);
    @include lg {
      align-items: flex-start;
      font-size: 14px;
    }
  }
  .footerContentBox16 {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0px 10px;
    background-color: rgb(27, 89, 98);
    border-radius: 32px 32px 32px 32px;
    padding: 8px 8px 8px 20px;
  }
  .footerHighlight1 {
    position: relative;
    min-width: 0px;
    font: 500 16px/1.5 "Noto Sans", Helvetica, Arial, serif;
    color: rgb(255, 255, 255);
  }
  .footerContentBox15 {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 48px;
    min-width: 0px;
    background-color: rgb(0, 212, 126);
    border-radius: 24px 24px 24px 24px;
    padding: 12px 12px 12px 12px;
  }
  .footerImage1511 {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 24px;
    background: var(--src) center center / 100% 100% no-repeat;
  }
}
